.vscode/ftp-sync.json
/var
/cache
/classes
/config
/admin404tfvezu
/app
/bin
/classes
/controllers
/docker
/download
/tools
/translations
/upload
/vendor
/webservice
/docs
/localizations
/mails
/OLDinstall
